html,
body {
    margin: 0;
    background: linear-gradient(50deg, rgb(101, 181, 231), rgb(156, 210, 219));
}

header {
    /*background: linear-gradient(50deg,rgb(101, 181, 231),rgb(156,210,219));*/
    /*background: linear-gradient(50deg,rgb(156,210,219),rgb(101, 181, 231));*/
    padding: 40px;
    text-align: center;
    margin-bottom: 40px;
}

h1 {
    font-size: 90px;
    /*color:#435c76;*/
    color: #304e82;
    font-family: 'Concert One', cursive;
    text-shadow:  -1px 3px 5px #304e82;
}

header img {
    border-radius: 50%;
    width: 340px;
    /*border: 14px solid rgb(77, 134, 169);*/
    border: 14px solid #304e82;
    box-shadow:  13px 13px 27px #457796,
             -13px -13px 27px #5595bc;
    /*box-shadow: -20px 20px 60px #5598c2,
        20px -20px 60px #75d2ff;*/
}

.content {
    max-width: 900px;
    margin: 0 auto;
    font-family:cursive;
    padding: 0 40px 30px 40px;
    background-color: #ffffff;
    border: 2px solid #304e82;
    border-radius: 38px;
    font-size: 20px;
}

h2 {
    color: #304e82;
    font-family: 'Concert One', cursive;
}

img.big-image {
    border: 2px solid #304e82;
    border-radius: 33px;
    max-width: 100%;
}

p.cap3on {
    font-size: 16.5px;
    color: lightgrey;
    font-style: italic;
}

ol {
    list-style: none;
}

ol i {
    color: #304e82;
   /*color: rgb(101, 181, 231);*/
    padding-right: 10px;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    color: #304e82;
    text-decoration: none;
}


footer {
    margin-top: 20px;
    padding: 40px 20px;
    background-color:#304e82;
    font-size: 18px;
    color: rgb(101, 181, 231);

}

footer ul {
    text-align: center;
}

footer ul li {
    display: inline-block;
    margin: 0 5px;
}

footer a {
    color: #ffffff;
}


.card {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 50px 20px 50px 20px;
    gap: 30px;
}

.picture img {
    margin-top: 10px;
    width: 200px;
    border-radius: 50%;
    position: relative;
    top: 0;
    transition: top ease 0.5s;
}

.picture {
    padding: 20px 9px 20px 9px;
    /*border: 2px solid #0098f0;
    border-radius: 40px;*/
    position: relative;
    top: 0;
    transition: top ease 0.5s;
}

.picture p {
    display: flex;
    justify-content: center;
    font-size: 30px;
    text-transform: uppercase;
    font-family: 'Concert One', cursive;
}

.picture:hover {
   top: -10px;
}

.picture img:hover {
    /*box-shadow: 4px 6px 20px 5px rgb(18, 18, 28);
    box-shadow:  13px 13px 27px #457796,
    -13px -13px 27px #5595bc;*/
    top: -10px;
}

.picture1 p:hover {
    color: #f9eab6;
}

.picture2 p:hover {
    color: #6e4a8a;
}

.picture3 p:hover {
   color:#4a8290;
}